[submodule "multi_agent_ide_lib"]
	path = multi_agent_ide_lib
	url = ./multi_agent_ide_lib/.git
[submodule "buildSrc"]
	path = buildSrc
	url = ./buildSrc/.git
[submodule "persistence"]
	path = persistence
	url = ./persistence/.git
[submodule "jpa-persistence"]
	path = jpa-persistence
	url = ./jpa-persistence/.git
[submodule "tracing"]
	path = tracing
	url = ./tracing/.git
[submodule "tracing_agent"]
	path = tracing_agent
	url = ./tracing_agent/.git
[submodule "test_graph"]
	path = test_graph
	url = ./test_graph/.git
[submodule "utilitymodule"]
	path = utilitymodule
	url = ./utilitymodule/.git
[submodule "commit-diff-context"]
	path = commit-diff-context
	url = ./commit-diff-context/.git
[submodule "commit-diff-model"]
	path = commit-diff-model
	url = ./commit-diff-model/.git
[submodule "commit-diff-context-mcp"]
	path = commit-diff-context-mcp
	url = ./commit-diff-context-mcp/.git
[submodule "mcp-tool-gateway"]
	path = mcp-tool-gateway
	url = ./mcp-tool-gateway/.git
[submodule "proto"]
	path = proto
	url = ./proto/.git
[submodule "graphql"]
	path = graphql
	url = git@github.com:haydenrear/federated-graphql-common.git
[submodule "libs-resolver"]
	path = libs-resolver
	url = ./libs-resolver/.git
[submodule "multi_agent_ide_python_parent"]
	path = multi_agent_ide_python_parent
	url = ./multi_agent_ide_python_parent
[submodule "multi_agent_ide"]
	path = multi_agent_ide
	url = git@github.com:haydenrear/multi_agent_ide.git
[submodule "tracing_aspect"]
	path = tracing_aspect
	url = git@github.com:haydenrear/tracing-aspect.git
[submodule "runner_code"]
	path = runner_code
	url = ./runner_code/.git
[submodule "test-mcp-server"]
	path = test-mcp-server
	url = git@github.com:haydenrear/test-mcp-server.git
[submodule "skills"]
	path = skills
	url = git@github.com:haydenrear/skills.git
[submodule "test-acp-client"]
	path = test-acp-client
	url = ./test-acp-client/.git
[submodule "acp-cdc-ai"]
	path = acp-cdc-ai
	url = git@github.com:haydenrear/acp-cdc-ai.git
