[submodule "multi_agent_ide"]
	path = multi_agent_ide
	url = ./multi_agent_ide/.git
[submodule "multi_agent_ide_lib"]
	path = multi_agent_ide_lib
	url = ./multi_agent_ide_lib/.git
[submodule "buildSrc"]
	path = buildSrc
	url = ./buildSrc/.git
[submodule "persistence"]
	path = persistence
	url = ./persistence/.git
[submodule "jpa-persistence"]
	path = jpa-persistence
	url = ./jpa-persistence/.git
[submodule "tracing"]
	path = tracing
	url = ./tracing/.git
