[submodule "multi_agent_ide_lib"]
	path = multi_agent_ide_lib
	url = ./multi_agent_ide_lib/.git
[submodule "buildSrc"]
	path = buildSrc
	url = ./buildSrc/.git
[submodule "persistence"]
	path = persistence
	url = ./persistence/.git
[submodule "jpa-persistence"]
	path = jpa-persistence
	url = ./jpa-persistence/.git
[submodule "tracing"]
	path = tracing
	url = ./tracing/.git
[submodule "tracing_agent"]
	path = tracing_agent
	url = ./tracing_agent/.git
[submodule "test_graph"]
	path = test_graph
	url = ./test_graph/.git
[submodule "utilitymodule"]
	path = utilitymodule
	url = ./utilitymodule/.git
[submodule "commit-diff-context"]
	path = commit-diff-context
	url = ./commit-diff-context/.git
[submodule "commit-diff-model"]
	path = commit-diff-model
	url = ./commit-diff-model/.git
[submodule "commit-diff-context-mcp"]
	path = commit-diff-context-mcp
	url = ./commit-diff-context-mcp/.git
[submodule "mcp-tool-gateway"]
	path = mcp-tool-gateway
	url = ./mcp-tool-gateway/.git
[submodule "proto"]
	path = proto
	url = ./proto/.git
[submodule "multi_agent_ide"]
	path = multi_agent_ide
	url = ../commit-diff-context-parent/multi-agent-ide/.git
[submodule "graphql"]
	path = graphql
	url = git@github.com:haydenrear/federated-graphql-common.git
[submodule "libs-resolver"]
	path = libs-resolver
	url = ../commit-diff-context-parent/libs-resolver/.git
[submodule "multi_agent_ide_python_parent"]
	path = multi_agent_ide_python_parent
	url = ./multi_agent_ide_python_parent
